In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.spatial.distance import pdist, squareform

In [2]:
ratings = pd.read_csv('lab-intro-recommender-systems/data/movie_ratings.csv')

In [3]:
ratings

,Movie,Brandon,Emily,Cleo,Rusty,Samantha
0,Aquaman,4,1,2,2,2
1,Avengers: Infinity War,2,5,2,5,5
2,Black Panther,5,2,5,1,1
3,Bohemian Rhapsody,2,3,4,4,1
4,Deadpool 2,3,2,4,5,1
5,Fantastic Beasts: The Crimes of Grindelwald,5,4,1,2,5
6,Incredibles 2,4,2,3,4,4
7,Jurassic World: Fallen Kingdom,2,3,5,4,5
8,Mission: Impossible – Fallout,5,5,4,3,2
9,Venom,4,1,4,5,2

# Synth Data

In [4]:
names=['A'+str(i) for i in range(100)]

tags=['blues', 'rock', 'jazz', 'techno', 'pop', 'dance',
      'yoga', 'trip', 'cinema', 'gym', 'mountain', 'beach', 
      'ski', 'bike', 'skate', 'swiming', 'basket', 'running']

In [5]:
data=np.random.randint(0, 6, (len(names), len(tags)))

In [6]:
s_data=pd.DataFrame(data, columns=tags, index=names)
s_data.head()

,blues,rock,jazz,techno,pop,dance,yoga,trip,cinema,gym,mountain,beach,ski,bike,skate,swiming,basket,running
A0,5,5,4,5,0,3,1,3,2,4,5,3,5,3,1,2,4,3
A1,0,0,3,2,5,5,5,0,1,1,3,4,2,5,4,0,3,5
A2,4,2,0,1,4,2,0,4,4,3,0,3,5,5,2,2,3,0
A3,5,3,1,0,2,5,4,3,1,1,4,1,1,5,1,5,0,1
A4,4,5,5,1,5,1,2,4,4,1,1,1,3,1,2,4,2,2

In [7]:
squareform(pdist(s_data, 'euclidean'))

array([[ 0.        , 12.64911064, 10.29563014, ...,  9.        ,
         9.74679434, 10.58300524],
       [12.64911064,  0.        , 12.08304597, ...,  9.43398113,
         9.8488578 , 12.08304597],
       [10.29563014, 12.08304597,  0.        , ...,  9.21954446,
         9.43398113,  9.79795897],
       ...,
       [ 9.        ,  9.43398113,  9.21954446, ...,  0.        ,
         7.74596669, 10.34408043],
       [ 9.74679434,  9.8488578 ,  9.43398113, ...,  7.74596669,
         0.        ,  9.21954446],
       [10.58300524, 12.08304597,  9.79795897, ..., 10.34408043,
         9.21954446,  0.        ]])

In [8]:
similar=pd.DataFrame(1/(1 + squareform(pdist(s_data, 'euclidean'))), 
                         index=s_data.index, columns=s_data.index)

similar.head()

,A0,A1,A2,A3,A4,A5,A6,A7,A8,A9,...,A90,A91,A92,A93,A94,A95,A96,A97,A98,A99
A0,1.000000,0.073265,0.088530,0.083972,0.090909,0.113504,0.101131,0.083651,0.090499,0.103517,...,0.080350,0.087047,0.086688,0.092610,0.096331,0.081800,0.087779,0.100000,0.093051,0.086333
A1,0.073265,1.000000,0.076435,0.080350,0.074129,0.083972,0.078711,0.093498,0.090499,0.080920,...,0.094882,0.084297,0.085983,0.081800,0.092610,0.106762,0.077929,0.095841,0.092176,0.076435
A2,0.088530,0.076435,1.000000,0.089695,0.101711,0.132320,0.077674,0.102904,0.082709,0.082709,...,0.097852,0.090094,0.078187,0.102904,0.090909,0.083020,0.123899,0.097852,0.095841,0.092610
A3,0.083972,0.080350,0.089695,1.000000,0.092176,0.099449,0.098375,0.092176,0.080634,0.086333,...,0.077421,0.107450,0.088530,0.086688,0.094882,0.087410,0.088152,0.087779,0.090909,0.083972
A4,0.090909,0.074129,0.101711,0.092176,1.000000,0.102302,0.097852,0.092610,0.078187,0.074798,...,0.104778,0.087047,0.089695,0.078977,0.097337,0.101711,0.091747,0.108869,0.085983,0.109601

# New user

In [9]:
n_rating=np.random.randint(0, 6, (1, len(tags)))
B0={k:v for k, v in list(zip(tags, n_rating[0]))}
B0

{'blues': 5,
 'rock': 3,
 'jazz': 3,
 'techno': 4,
 'pop': 0,
 'dance': 5,
 'yoga': 1,
 'trip': 0,
 'cinema': 4,
 'gym': 0,
 'mountain': 3,
 'beach': 3,
 'ski': 1,
 'bike': 1,
 'skate': 5,
 'swiming': 1,
 'basket': 5,
 'running': 5}

In [10]:
s_data=s_data.append(B0, ignore_index=True)
names.append('B0')
s_data.index=names

In [12]:
s_data.head()

,blues,rock,jazz,techno,pop,dance,yoga,trip,cinema,gym,mountain,beach,ski,bike,skate,swiming,basket,running
A0,5,5,4,5,0,3,1,3,2,4,5,3,5,3,1,2,4,3
A1,0,0,3,2,5,5,5,0,1,1,3,4,2,5,4,0,3,5
A2,4,2,0,1,4,2,0,4,4,3,0,3,5,5,2,2,3,0
A3,5,3,1,0,2,5,4,3,1,1,4,1,1,5,1,5,0,1
A4,4,5,5,1,5,1,2,4,4,1,1,1,3,1,2,4,2,2

In [14]:
similar = pd.DataFrame(1/(1 + squareform(pdist(s_data, 'euclidean'))), 
                         index=s_data.index, columns=s_data.index)

similarities = similar['B0'].sort_values(ascending=False)[1:8]
similarities

A58    0.132320
A73    0.127297
A40    0.121786
A75    0.116066
A66    0.112689
A60    0.110348
A33    0.108869
Name: B0, dtype: float64

In [19]:
s_data.iloc[:, :-1]

,blues,rock,jazz,techno,pop,dance,yoga,trip,cinema,gym,mountain,beach,ski,bike,skate,swiming,basket
A0,5,5,4,5,0,3,1,3,2,4,5,3,5,3,1,2,4
A1,0,0,3,2,5,5,5,0,1,1,3,4,2,5,4,0,3
A2,4,2,0,1,4,2,0,4,4,3,0,3,5,5,2,2,3
A3,5,3,1,0,2,5,4,3,1,1,4,1,1,5,1,5,0
A4,4,5,5,1,5,1,2,4,4,1,1,1,3,1,2,4,2
A5,5,0,2,1,2,1,2,3,2,4,3,2,5,3,1,2,3
A6,2,4,4,2,1,5,3,0,2,2,4,0,5,0,0,3,0
A7,3,0,4,1,1,5,3,1,4,2,0,3,5,3,4,2,0
A8,1,0,2,3,1,3,2,3,5,4,5,4,1,4,4,5,5
A9,3,4,0,4,0,0,4,0,1,5,5,3,2,5,4,3,4
A10,1,2,0,2,0,0,4,5,3,4,0,4,2,1,2,3,2
A11,2,3,3,3,3,3,5,3,2,0,5,0,0,0,5,3,4
A12,4,0,3,3,5,1,3,5,2,1,1,0,0,1,3,5,1
A13,3,2,3,4,3,2,0,0,2,5,0,4,2,5,5,4,3
A14,2,2,2,0,0,5,1,2,4,5,3,5,1,2,0,3,0
A15,1,1,5,2,0,3,5,1,0,0,4,3,4,3,2,2,3
A16,2,3,2,2,5,4,3,1,3,4,2,3,0,2,4,5,0
A17,2,3,3,2,2,3,3,3,1,2,4,1,2,4,4,1,2
A18,0,2,5,1,1,0,4,4,4,1,5,1,5,5,3,2,2
A19,0,5,5,2,1,5,3,2,3,0,4,2,3,5,1,4,4
A20,3,0,0,4,4,3,2,1,0,4,3,3,0,1,3,5,1
A21,2,4,2,0,2,1,2,1,5,0,1,2,5,3,1,3,4
A22,1,3,1,0,0,2,3,4,0,0,3,1,5,4,2,0,5
A23,5,5,1,1,3,3,5,1,2,4,2,2,1,5,1,0,4
A24,0,2,2,4,4,3,5,2,1,5,2,1,1,3,1,3,1
A25,2,2,2,3,0,0,2,5,4,4,4,5,4,2,1,0,3
A26,0,3,2,1,4,5,2,2,5,0,3,1,0,4,0,5,4
A27,1,0,4,0,4,2,0,4,4,1,5,3,5,0,2,5,2
A28,2,2,2,5,2,4,5,1,2,3,0,3,4,0,3,3,5
A29,1,0,0,2,4,3,1,1,3,3,2,4,2,0,5,3,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
A71,0,2,1,5,0,0,4,2,2,0,0,3,1,2,5,3,2
A72,2,4,3,0,3,4,2,3,0,4,1,3,4,5,5,2,3
A73,3,4,3,4,0,4,2,3,3,1,4,2,1,1,2,2,1
A74,0,5,1,3,0,2,5,3,4,1,5,2,2,1,3,2,0
A75,5,5,3,5,2,5,4,0,2,0,5,2,0,2,0,3,5
A76,5,3,1,2,2,0,0,3,4,2,4,5,3,2,5,1,2
A77,1,4,3,4,4,4,2,3,2,5,4,5,4,1,0,2,0
A78,1,2,3,5,3,2,4,0,1,0,1,4,1,3,5,3,1
A79,5,5,2,1,5,0,0,5,5,5,5,3,4,4,0,4,3
A80,4,2,0,5,5,2,0,1,5,3,0,5,5,0,5,1,4
A81,3,1,4,3,0,1,1,2,2,0,3,1,2,2,0,2,0
A82,5,5,5,0,1,1,1,1,5,4,0,3,0,2,0,5,0
A83,3,0,0,4,2,1,2,1,0,3,3,0,2,0,4,5,4
A84,5,1,0,0,1,2,5,1,4,0,5,2,2,4,0,2,4
A85,2,3,5,5,5,0,1,1,2,0,0,0,4,2,3,2,0
A86,3,2,2,2,3,4,0,0,4,4,1,4,1,1,3,4,2
A87,4,1,3,3,4,4,1,0,1,5,4,1,2,2,3,5,0
A88,4,3,5,0,1,0,2,3,0,3,0,3,5,5,1,4,5
A89,3,1,5,3,0,5,1,0,0,0,1,3,2,2,3,4,2
A90,2,4,3,1,5,3,2,1,4,4,0,3,0,2,5,1,5
A91,5,0,4,1,1,4,1,0,1,4,1,3,0,4,2,5,2
A92,4,2,2,1,3,0,3,1,1,4,5,4,0,0,2,1,0
A93,2,2,3,3,1,5,1,5,0,5,1,3,4,5,4,0,0
A94,2,0,3,2,3,3,4,2,3,4,5,0,5,1,2,2,1
A95,3,2,5,3,5,5,5,0,3,3,1,2,4,2,5,3,0
A96,3,1,0,2,1,0,1,3,2,1,0,5,5,4,2,5,2
A97,4,1,4,0,3,2,2,0,2,1,3,2,5,1,1,1,4
A98,3,5,0,0,1,2,3,0,0,1,2,4,5,3,3,0,2
A99,2,5,0,2,4,0,2,4,2,4,3,1,2,0,5,2,1
B0,5,3,3,4,0,5,1,0,4,0,3,3,1,1,5,1,5