# RecSys Utoppia

In [1]:
# Demo recsys boolean (0-1)

# import libraries


%matplotlib inline
import seaborn as sns
import warnings
warnings.filterwarnings("ignore",category=DeprecationWarning)
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.spatial.distance import pdist, squareform
from operator import itemgetter
import plotly.plotly as py
import cufflinks as cf
cf.go_offline()

In [2]:
# tags

tags=['Cine', 'Teatro', 'Cervezas', 'Vino', 'Fiesta', 'Viajes', 'Rock' ,'Pop',
      'Jazz', 'Techno', 'RAP', 'Indie', 'Correr', 'Gym', 'Golf', 'Basket', 'Football', 'Yoga']

In [3]:
# subtags

st_cine=['Drama', 'Comedia', 'Terror', 'Anime']

In [4]:
st_teatro=['Tragedia', 'Comedia', 'Mímica', 'Dramático']

In [5]:
st_cerveza=['Lager', 'Pale Ale', 'Artesanas', 'Pilsener']

In [6]:
st_vino=['Blanco', 'Tinto', 'Rosado', 'Espumoso']

In [7]:
st_viajes=['En grupo', 'Solo']

In [8]:
st_rock=['Alternativo', 'Heavy', 'Country', 'Grunge']

In [9]:
st_pop=['Latino', 'Punk', 'Hard', 'Folk']

In [10]:
st_jazz=['Cool', 'Free', 'Smooth', 'Acid']

In [11]:
st_techno=['Minimal', 'House' ,'Hardcore', 'Acid']

In [12]:
st_rap=['Gangsta', 'Poético', 'Político' ,'Instrumental']

In [13]:
st_indie=['Alternativo', 'Electrónico', 'Folk', 'Griendie']

In [14]:
st_football=['Sala', '7', '11']

In [15]:
st_yoga=['Vinyasa', 'Kundalini', 'Bikram', 'Nidra']

In [16]:
# empty dataframe

columnas=['Nombre', 'Id', 'Plan']+tags+st_cine+st_teatro+st_cerveza+st_vino+st_viajes+st_rock+st_pop+st_jazz+\
        st_techno+st_rap+st_indie+st_football+st_yoga

data=pd.DataFrame(columns=columnas)
data

Empty DataFrame
Columns: [Nombre, Id, Plan, Cine, Teatro, Cervezas, Vino, Fiesta, Viajes, Rock, Pop, Jazz, Techno, RAP, Indie, Correr, Gym, Golf, Basket, Football, Yoga, Drama, Comedia, Terror, Anime, Tragedia, Comedia, Mímica, Dramático, Lager, Pale Ale, Artesanas, Pilsener, Blanco, Tinto, Rosado, Espumoso, En grupo, Solo, Alternativo, Heavy, Country, Grunge, Latino, Punk, Hard, Folk, Cool, Free, Smooth, Acid, Minimal, House, Hardcore, Acid, Gangsta, Poético, Político, Instrumental, Alternativo, Electrónico, Folk, Griendie, Sala, 7, 11, Vinyasa, Kundalini, Bikram, Nidra]
Index: []

[0 rows x 70 columns]

In [17]:
# users

user1={columnas[0]:'Marta', columnas[1]:1, columnas[2]: 1, 
       
       columnas[3]:2/3, columnas[4]:0, columnas[5]:2/3, columnas[6]:2/3, columnas[7]:0, columnas[8]:2/3,
       columnas[9]:0 ,columnas[10]:2/3, columnas[11]:0, columnas[12]:2/3, columnas[13]:0, columnas[14]:2/3,
       columnas[15]:0, columnas[16]:2/3, columnas[17]:2/3, columnas[18]:0, columnas[19]:0, columnas[20]:2/3,
       
       columnas[21]:1/3, columnas[22]:1/3, columnas[23]:0, columnas[24]:0, 
       columnas[25]:0, columnas[26]:0, columnas[27]:0, columnas[28]:0, 
       columnas[29]:1/3, columnas[30]:1/3, columnas[31]:1/3, columnas[32]:0,
       columnas[33]:1/3, columnas[34]:1/3, columnas[35]:0, columnas[36]:0, 
       columnas[37]:1/3, columnas[38]:1/3, 
       columnas[39]:0, columnas[40]:0, columnas[41]:0, columnas[42]:0, 
       columnas[43]:1/3, columnas[44]:0, columnas[45]:0, columnas[46]: 1/3, 
       columnas[47]:0, columnas[48]:0, columnas[49]:0, columnas[50]:0, 
       columnas[51]:0, columnas[52]:1/3, columnas[53]:0, columnas[54]:0, 
       columnas[55]:0, columnas[56]:0, columnas[57]:0, columnas[58]:0, 
       columnas[59]:1/3, columnas[60]:1/3, columnas[61]:0, columnas[62]:0, 
       columnas[63]:0, columnas[64]:0, columnas[65]:0, 
       columnas[66]:1/3, columnas[67]:0, columnas[68]:0, columnas[69]:0}

In [18]:
user2={columnas[0]:'Juan', columnas[1]:2, columnas[2]: 1, 
       
       columnas[3]:2/3, columnas[4]:2/3, columnas[5]:0, columnas[6]:2/3, columnas[7]:2/3, columnas[8]:0,
       columnas[9]:0 ,columnas[10]:2/3, columnas[11]:0, columnas[12]:2/3, columnas[13]:2/3, columnas[14]:0,
       columnas[15]:0, columnas[16]:2/3, columnas[17]:2/3, columnas[18]:0, columnas[19]:2/3, columnas[20]:0,
       
       columnas[21]:1/3, columnas[22]:0, columnas[23]:0, columnas[24]:1/3, 
       columnas[25]:1/3, columnas[26]:0, columnas[27]:0, columnas[28]:1/3, 
       columnas[29]:0, columnas[30]:0, columnas[31]:0, columnas[32]:0,
       columnas[33]:0, columnas[34]:1/3, columnas[35]:0, columnas[36]:1/3, 
       columnas[37]:0, columnas[38]:0, 
       columnas[39]:0, columnas[40]:0, columnas[41]:0, columnas[42]:0, 
       columnas[43]:0, columnas[44]:1/3, columnas[45]:1/3, columnas[46]:0, 
       columnas[47]:0, columnas[48]:0, columnas[49]:0, columnas[50]:0, 
       columnas[51]:1/3, columnas[52]:1/3, columnas[53]:0, columnas[54]:0, 
       columnas[55]:1/3, columnas[56]:1/3, columnas[57]:0, columnas[58]:0, 
       columnas[59]:0, columnas[60]:0, columnas[61]:0, columnas[62]:0, 
       columnas[63]:0, columnas[64]:0, columnas[65]:1/3, 
       columnas[66]:0, columnas[67]:0, columnas[68]:0, columnas[69]:0}

In [19]:
user3={columnas[0]:'Monica', columnas[1]:3, columnas[2]: 1, 
       
       columnas[3]:2/3, columnas[4]:2/3, columnas[5]:0, columnas[6]:0, columnas[7]:0, columnas[8]:0,
       columnas[9]:0 ,columnas[10]:0, columnas[11]:0, columnas[12]:0, columnas[13]:2/3, columnas[14]:2/3,
       columnas[15]:0, columnas[16]:0, columnas[17]:0, columnas[18]:0, columnas[19]:2/3, columnas[20]:2/3,
       
       columnas[21]:1/3, columnas[22]:1/3, columnas[23]:0, columnas[24]:0, 
       columnas[25]:0, columnas[26]:1/3, columnas[27]:0, columnas[28]:1/3, 
       columnas[29]:0, columnas[30]:0, columnas[31]:0, columnas[32]:0,
       columnas[33]:0, columnas[34]:0, columnas[35]:0, columnas[36]:0, 
       columnas[37]:0, columnas[38]:0, 
       columnas[39]:0, columnas[40]:0, columnas[41]:0, columnas[42]:0, 
       columnas[43]:0, columnas[44]:0, columnas[45]:0, columnas[46]:0, 
       columnas[47]:0, columnas[48]:0, columnas[49]:0, columnas[50]:0, 
       columnas[51]:0, columnas[52]:0, columnas[53]:0, columnas[54]:0, 
       columnas[55]:1/3, columnas[56]:1/3, columnas[57]:1/3, columnas[58]:1/3, 
       columnas[59]:1/3, columnas[60]:1/3, columnas[61]:0, columnas[62]:0, 
       columnas[63]:1/3, columnas[64]:0, columnas[65]:1/3, 
       columnas[66]:1/3, columnas[67]:1/3, columnas[68]:0, columnas[69]:0}

In [20]:
user4={columnas[0]:'Alvaro', columnas[1]:4, columnas[2]: 1, 
       
       columnas[3]:2/3, columnas[4]:2/3, columnas[5]:2/3, columnas[6]:2/3, columnas[7]:0, columnas[8]:2/3,
       columnas[9]:0 ,columnas[10]:0, columnas[11]:0, columnas[12]:0, columnas[13]:0, columnas[14]:2/3,
       columnas[15]:2/3, columnas[16]:2/3, columnas[17]:2/3, columnas[18]:0, columnas[19]:2/3, columnas[20]:2/3,
       
       columnas[21]:0, columnas[22]:0, columnas[23]:1/3, columnas[24]:1/3, 
       columnas[25]:0, columnas[26]:0, columnas[27]:1/3, columnas[28]:1/3, 
       columnas[29]:1/3, columnas[30]:0, columnas[31]:0, columnas[32]:1/3,
       columnas[33]:0, columnas[34]:1/3, columnas[35]:1/3, columnas[36]:0, 
       columnas[37]:1/3, columnas[38]:1/3, 
       columnas[39]:0, columnas[40]:0, columnas[41]:0, columnas[42]:0, 
       columnas[43]:0, columnas[44]:0, columnas[45]:0, columnas[46]:0, 
       columnas[47]:0, columnas[48]:0, columnas[49]:0, columnas[50]:0, 
       columnas[51]:0, columnas[52]:0, columnas[53]:0, columnas[54]:0, 
       columnas[55]:0, columnas[56]:0, columnas[57]:0, columnas[58]:0, 
       columnas[59]:0, columnas[60]:0, columnas[61]:1/3, columnas[62]:1/3, 
       columnas[63]:1/3, columnas[64]:0, columnas[65]:0, 
       columnas[66]:0, columnas[67]:0, columnas[68]:1/3, columnas[69]:1/3}

In [21]:
user5={columnas[0]:'Maria', columnas[1]:5, columnas[2]: 1, 
       
       columnas[3]:0, columnas[4]:0, columnas[5]:0, columnas[6]:0, columnas[7]:2/3, columnas[8]:2/3,
       columnas[9]:2/3 ,columnas[10]:2/3, columnas[11]:2/3, columnas[12]:0, columnas[13]:0, columnas[14]:0,
       columnas[15]:0, columnas[16]:0, columnas[17]:2/3, columnas[18]:2/3, columnas[19]:2/3, columnas[20]:2/3,
       
       columnas[21]:0, columnas[22]:0, columnas[23]:0, columnas[24]:0, 
       columnas[25]:0, columnas[26]:0, columnas[27]:0, columnas[28]:0, 
       columnas[29]:0, columnas[30]:0, columnas[31]:0, columnas[32]:0,
       columnas[33]:0, columnas[34]:0, columnas[35]:0, columnas[36]:0, 
       columnas[37]:1/3, columnas[38]:1/3, 
       columnas[39]:1/3, columnas[40]:0, columnas[41]:0, columnas[42]:1/3, 
       columnas[43]:1/3, columnas[44]:0, columnas[45]:0, columnas[46]:0, 
       columnas[47]:1/3, columnas[48]:0, columnas[49]:0, columnas[50]:1/3, 
       columnas[51]:0, columnas[52]:0, columnas[53]:0, columnas[54]:0, 
       columnas[55]:0, columnas[56]:0, columnas[57]:0, columnas[58]:0, 
       columnas[59]:0, columnas[60]:0, columnas[61]:0, columnas[62]:0, 
       columnas[63]:0, columnas[64]:0, columnas[65]:1/3, 
       columnas[66]:0, columnas[67]:0, columnas[68]:0, columnas[69]:1/3}

In [22]:
user6={columnas[0]:'Jesus', columnas[1]:6, columnas[2]: 1, 
       
       columnas[3]:2/3, columnas[4]:0, columnas[5]:2/3, columnas[6]:2/3, columnas[7]:0, columnas[8]:2/3,
       columnas[9]:2/3, columnas[10]:0, columnas[11]:2/3, columnas[12]:2/3, columnas[13]:0, columnas[14]:2/3,
       columnas[15]:0, columnas[16]:2/3, columnas[17]:0, columnas[18]:2/3, columnas[19]:2/3, columnas[20]:2/3,
       
       columnas[21]:0, columnas[22]:0, columnas[23]:1/3, columnas[24]:1/3, 
       columnas[25]:0, columnas[26]:0, columnas[27]:0, columnas[28]:0, 
       columnas[29]:0, columnas[30]:0, columnas[31]:0, columnas[32]:1/3,
       columnas[33]:0, columnas[34]:0, columnas[35]:0, columnas[36]:1/3, 
       columnas[37]:0, columnas[38]:1/3, 
       columnas[39]:1/3, columnas[40]:1/3, columnas[41]:0, columnas[42]:1/3, 
       columnas[43]:0, columnas[44]:0, columnas[45]:0, columnas[46]:0, 
       columnas[47]:0, columnas[48]:0, columnas[49]:0, columnas[50]:1/3, 
       columnas[51]:1/3, columnas[52]:0, columnas[53]:0, columnas[54]:1/3, 
       columnas[55]:0, columnas[56]:0, columnas[57]:0, columnas[58]:0, 
       columnas[59]:1/3, columnas[60]:0, columnas[61]:0, columnas[62]:1/3, 
       columnas[63]:0, columnas[64]:0, columnas[65]:1/3, 
       columnas[66]:1/3, columnas[67]:0, columnas[68]:0, columnas[69]:1/3}

In [23]:
user7={columnas[0]:'Alba', columnas[1]:7, columnas[2]: 1, 
       
       columnas[3]:2/3, columnas[4]:0, columnas[5]:2/3, columnas[6]:2/3, columnas[7]:2/3, columnas[8]:2/3,
       columnas[9]:0 ,columnas[10]:2/3, columnas[11]:2/3, columnas[12]:2/3, columnas[13]:2/3, columnas[14]:0,
       columnas[15]:2/3, columnas[16]:2/3, columnas[17]:0, columnas[18]:0, columnas[19]:0, columnas[20]:2/3,
       
       columnas[21]:1/3, columnas[22]:1/3, columnas[23]:0, columnas[24]:0, 
       columnas[25]:0, columnas[26]:0, columnas[27]:0, columnas[28]:0, 
       columnas[29]:1/3, columnas[30]:0, columnas[31]:0, columnas[32]:1/3,
       columnas[33]:1/3, columnas[34]:0, columnas[35]:1/3, columnas[36]:1/3, 
       columnas[37]:1/3, columnas[38]:0, 
       columnas[39]:0, columnas[40]:0, columnas[41]:0, columnas[42]:0, 
       columnas[43]:1/3, columnas[44]:0, columnas[45]:0, columnas[46]:0, 
       columnas[47]:1/3, columnas[48]:0, columnas[49]:0, columnas[50]:1/3, 
       columnas[51]:0, columnas[52]:0, columnas[53]:0, columnas[54]:1/3, 
       columnas[55]:0, columnas[56]:0, columnas[57]:0, columnas[58]:1/3, 
       columnas[59]:0, columnas[60]:0, columnas[61]:0, columnas[62]:0, 
       columnas[63]:0, columnas[64]:0, columnas[65]:0, 
       columnas[66]:1/3, columnas[67]:0, columnas[68]:1/3, columnas[69]:0}

In [24]:
user8={columnas[0]:'Adolfo', columnas[1]:8, columnas[2]: 1, 
       
       columnas[3]:2/3, columnas[4]:0, columnas[5]:0, columnas[6]:2/3, columnas[7]:0, columnas[8]:2/3,
       columnas[9]:2/3 ,columnas[10]:0, columnas[11]:2/3, columnas[12]:2/3, columnas[13]:0, columnas[14]:0,
       columnas[15]:2/3, columnas[16]:2/3, columnas[17]:2/3, columnas[18]:2/3, columnas[19]:2/3, columnas[20]:0,
       
       columnas[21]:1/3, columnas[22]:0, columnas[23]:0, columnas[24]:1/3, 
       columnas[25]:0, columnas[26]:0, columnas[27]:0, columnas[28]:0, 
       columnas[29]:0, columnas[30]:0, columnas[31]:0, columnas[32]:0,
       columnas[33]:0, columnas[34]:0, columnas[35]:1/3, columnas[36]:1/3, 
       columnas[37]:1/3, columnas[38]:1/3, 
       columnas[39]:1/3, columnas[40]:0, columnas[41]:0, columnas[42]:1/3, 
       columnas[43]:0, columnas[44]:0, columnas[45]:0, columnas[46]:0, 
       columnas[47]:0, columnas[48]:0, columnas[49]:1/3, columnas[50]:0, 
       columnas[51]:0, columnas[52]:0, columnas[53]:1/3, columnas[54]:1/3, 
       columnas[55]:0, columnas[56]:0, columnas[57]:0, columnas[58]:0, 
       columnas[59]:0, columnas[60]:0, columnas[61]:0, columnas[62]:0, 
       columnas[63]:0, columnas[64]:1/3, columnas[65]:1/3, 
       columnas[66]:0, columnas[67]:0, columnas[68]:0, columnas[69]:0}

In [25]:
user9={columnas[0]:'Nuria', columnas[1]:9, columnas[2]: 1, 
       
       columnas[3]:2/3, columnas[4]:2/3, columnas[5]:0, columnas[6]:2/3, columnas[7]:0, columnas[8]:2/3,
       columnas[9]:2/3 ,columnas[10]:0, columnas[11]:0, columnas[12]:0, columnas[13]:0, columnas[14]:2/3,
       columnas[15]:2/3, columnas[16]:2/3, columnas[17]:0, columnas[18]:0, columnas[19]:2/3, columnas[20]:0,
       
       columnas[21]:1/3, columnas[22]:1/3, columnas[23]:0, columnas[24]:0, 
       columnas[25]:0, columnas[26]:0, columnas[27]:1/3, columnas[28]:1/3, 
       columnas[29]:0, columnas[30]:0, columnas[31]:0, columnas[32]:0,
       columnas[33]:1/3, columnas[34]:0, columnas[35]:0, columnas[36]:0, 
       columnas[37]:1/3, columnas[38]:1/3, 
       columnas[39]:0, columnas[40]:1/3, columnas[41]:0, columnas[42]:1/3, 
       columnas[43]:0, columnas[44]:0, columnas[45]:0, columnas[46]:0, 
       columnas[47]:0, columnas[48]:0, columnas[49]:0, columnas[50]:0, 
       columnas[51]:0, columnas[52]:0, columnas[53]:0, columnas[54]:0, 
       columnas[55]:0, columnas[56]:0, columnas[57]:0, columnas[58]:0, 
       columnas[59]:1/3, columnas[60]:1/3, columnas[61]:0, columnas[62]:0, 
       columnas[63]:1/3, columnas[64]:0, columnas[65]:1/3, 
       columnas[66]:0, columnas[67]:0, columnas[68]:0, columnas[69]:0}

In [26]:
user10={columnas[0]:'Jaime', columnas[1]:10, columnas[2]: 1, 
       
       columnas[3]:2/3, columnas[4]:0, columnas[5]:2/3, columnas[6]:2/3, columnas[7]:2/3, columnas[8]:2/3,
       columnas[9]:0 ,columnas[10]:0, columnas[11]:2/3, columnas[12]:0, columnas[13]:0, columnas[14]:0,
       columnas[15]:0, columnas[16]:2/3, columnas[17]:2/3, columnas[18]:0, columnas[19]:2/3, columnas[20]:0,
       
       columnas[21]:1/3, columnas[22]:1/3, columnas[23]:1/3, columnas[24]:0, 
       columnas[25]:0, columnas[26]:0, columnas[27]:0, columnas[28]:0, 
       columnas[29]:1/3, columnas[30]:0, columnas[31]:0, columnas[32]:1/3,
       columnas[33]:0, columnas[34]:0, columnas[35]:0, columnas[36]:1/3, 
       columnas[37]:1/3, columnas[38]:1/3, 
       columnas[39]:0, columnas[40]:0, columnas[41]:0, columnas[42]:0, 
       columnas[43]:0, columnas[44]:0, columnas[45]:0, columnas[46]:0, 
       columnas[47]:0, columnas[48]:0, columnas[49]:0, columnas[50]:0, 
       columnas[51]:0, columnas[52]:0, columnas[53]:0, columnas[54]:0, 
       columnas[55]:0, columnas[56]:0, columnas[57]:0, columnas[58]:0, 
       columnas[59]:0, columnas[60]:0, columnas[61]:0, columnas[62]:0, 
       columnas[63]:1/3, columnas[64]:1/3, columnas[65]:1/3, 
       columnas[66]:0, columnas[67]:0, columnas[68]:0, columnas[69]:0}

In [27]:
user_list=[user1, user2, user3, user4, user5, user6, user7, user8, user9, user10]

for e in user_list:
    data=data.append(other=e, ignore_index=True)
data

,Nombre,Id,Plan,Cine,Teatro,Cervezas,Vino,Fiesta,Viajes,Rock,...,Electrónico,Folk,Griendie,Sala,7,11,Vinyasa,Kundalini,Bikram,Nidra
0,Marta,1,1,0.666667,0,0.666667,0.666667,0,0.666667,0,...,0.333333,0,0,0,0,0,0.333333,0,0,0
1,Juan,2,1,0.666667,0.666667,0.000000,0.666667,0.666667,0.000000,0,...,0.000000,0,0,0,0,0.333333,0.000000,0,0,0
2,Monica,3,1,0.666667,0.666667,0.000000,0.000000,0,0.000000,0,...,0.333333,0,0,0.333333,0,0.333333,0.333333,0.333333,0,0
3,Alvaro,4,1,0.666667,0.666667,0.666667,0.666667,0,0.666667,0,...,0.000000,0.333333,0.333333,0.333333,0,0,0.000000,0,0.333333,0.333333
4,Maria,5,1,0.000000,0,0.000000,0.000000,0.666667,0.666667,0.666667,...,0.000000,0,0,0,0,0.333333,0.000000,0,0,0.333333
5,Jesus,6,1,0.666667,0,0.666667,0.666667,0,0.666667,0.666667,...,0.000000,0,0.333333,0,0,0.333333,0.333333,0,0,0.333333
6,Alba,7,1,0.666667,0,0.666667,0.666667,0.666667,0.666667,0,...,0.000000,0,0,0,0,0,0.333333,0,0.333333,0
7,Adolfo,8,1,0.666667,0,0.000000,0.666667,0,0.666667,0.666667,...,0.000000,0,0,0,0.333333,0.333333,0.000000,0,0,0
8,Nuria,9,1,0.666667,0.666667,0.000000,0.666667,0,0.666667,0.666667,...,0.333333,0,0,0.333333,0,0.333333,0.000000,0,0,0
9,Jaime,10,1,0.666667,0,0.666667,0.666667,0.666667,0.666667,0,...,0.000000,0,0,0.333333,0.333333,0.333333,0.000000,0,0,0

In [ ]:
#data.set_index('Nombre', inplace=True)
#data

In [ ]:
# new user function


def new_user(df, tags, metric='euclidean', Nombre, Cine, Teatro, Cervezas, Vino, Fiesta, Viajes, Rock, Pop, Jazz, Techno,
            RAP, Indie, Correr, Gym, Golf, Basket, Football, Yoga, Drama, Comedia_c, Terror, Anime,
            Tragedia, Comedia_t, Mimica, Dramatico, Lager, PaleAle, Artesanas, Pilsener, Blanco,
            Tinto, Rosado, Espumoso, Engrupo, Solo, Alternativo, Heavy, Country, Grunge, Latino,
            Punk, Hard, Folk, Cool, Free, Smooth, Acid_j, Minimal, House, Hardcore, Acid_t, Gangsta,
            Poetico, Politico, Instrumental, Alternativo, Electronico, Folk, Griendie,
            Sala, Siete, Once, Vinyasa, Kundalini, Bikram, Nidra):
    
    
    rating=[Nombre, len(df)+1, 0, Cine, Teatro, Cervezas, Vino, Fiesta, Viajes, Rock, Pop, Jazz, Techno,
            RAP, Indie, Correr, Gym, Golf, Basket, Football, Yoga, Drama, Comedia_c, Terror, Anime,
            Tragedia, Comedia_t, Mimica, Dramatico, Lager, PaleAle, Artesanas, Pilsener, Blanco,
            Tinto, Rosado, Espumoso, Engrupo, Solo, Alternativo, Heavy, Country, Grunge, Latino,
            Punk, Hard, Folk, Cool, Free, Smooth, Acid_j, Minimal, House, Hardcore, Acid_t, Gangsta,
            Poetico, Politico, Instrumental, Alternativo, Electronico, Folk, Griendie,
            Sala, Siete, Once, Vinyasa, Kundalini, Bikram, Nidra]
    
    
    n_user={k:v for k, v in list(zip(tags, rating))}
    
    
    similar = pd.DataFrame(0.8/(1 + squareform(pdist(df.iloc[:, 3:], metric))), 
                         index=df.index, columns=df.index)

    similarities = similar[n_user['Id']].sort_values(ascending=False)
    
    closer_users=[]
    for e in similarities.index:
        if df.ix[e].plan==1:
            closer_users.append(e)
    
    return list(map(list, zip(closer_users[:10], similarities.ix[closer_users[:10]])))#df.ix[closer_users[:10]][['id', 'plan']]

In [ ]:
# new users ratings

print ('Your name is:')
Nombre=str(input())

In [ ]:
print('Rate cine :')
Cine = int(input())*2/3 
if Cine!=0:
    print('Rate drama :')
    Drama = int(input())*1/3
    
    print('Rate comedy :')
    Comedia_c = int(input())*1/3
 
    print('Rate terror :')
    Terror = int(input())*1/3
 
    print('Rate anime :')
    Anime = int(input())*1/3

else:
    Drama = 0
    Comedia_c = 0
    Terror = 0
    Anime = 0

In [ ]:
print('Rate theater :')
Teatro = int(input())*2/3 
if Teatro!=0:
    print('Rate tragedia :')
    Tragedia = int(input())*1/3
    
    print('Rate comedy :')
    Comedia_t = int(input())*1/3
 
    print('Rate mimics :')
    Mimica = int(input())*1/3
 
    print('Rate drama :')
    Dramatico = int(input())*1/3

else:
    Tragedia = 0
    Comedia_t = 0
    Mimica = 0
    Dramatico = 0

In [ ]:
print('Rate beers :')
Cervezas = int(input())*2/3 
if Cervezas!=0:
    print('Rate lager :')
    Lager = int(input())*1/3
    
    print('Rate pale ale :')
    PaleAle = int(input())*1/3
 
    print('Rate home made beer :')
    Artesanas = int(input())*1/3
 
    print('Rate pilsener :')
    Pilsener = int(input())*1/3

else:
    Lager = 0
    PaleAle = 0
    Artesanas = 0
    Pilsener = 0

In [ ]:
print('Rate wine :')
Vino = int(input())*2/3 
if Vino!=0:
    print('Rate white wine :')
    Blanco = int(input())*1/3
    
    print('Rate red wine :')
    Tinto = int(input())*1/3
 
    print('Rate pink wine :')
    Rosado = int(input())*1/3
 
    print('Rate sparkling wine :')
    Espumoso = int(input())*1/3

else:
    Blanco = 0
    Tinto = 0
    Rosado = 0
    Espumoso = 0

In [ ]:
print('Rate party :')
Fiesta = int(input())*2/3

In [ ]:
print('Rate trips :')
Viajes = int(input())*2/3 
if Viajes!=0:
    print('Rate trips in group :')
    Engrupo = int(input())*1/3
    
    print('Rate trips alone :')
    Solo = int(input())*1/3


else:
    Engrupo = 0
    Solo = 0

In [ ]:
print('Rate rock :')
Rock = int(input())*2/3 
if Rock!=0:
    print('Rate alternative rock :')
    Alternativo = int(input())*1/3
    
    print('Rate heavy :')
    Heavy = int(input())*1/3
 
    print('Rate country :')
    Country = int(input())*1/3
 
    print('Rate Grunge :')
    Grunge = int(input())*1/3

else:
    Alternativo = 0
    Heavy = 0
    Country = 0
    Grunge = 0